<%- include ./partials/head %>
<script>
        let navitem = document.getElementById('console');
        navitem.classList.add("active");
</script>

<div class="card">
        <div class="card-body">
            <h5 class="card-title">Applications</h5>
          <p class="card-text">Total Applications: 0 </p>
          <a href="/console/apps" class="btn btn-primary">View Statics</a>
        </div>
</div>
<br>
<div class="card">
        <div class="card-body">
            <h5 class="card-title">Users</h5>
            <p class="card-text">Total Active Users : 0 </p>
        </div>
</div>


<%- include ./partials/foot %>