<%- include ./partials/head %>



<script>
    let nav = document.getElementById("nav")
    nav.hidden = true
</script>

<div class="row">
    <div class="col-md-4 offset-md-4 mt-4">
        <img class = "card-img-top img-circle" src="/media/ana_bg.png" alt="Card image cap"
        >
    </div>
</div>



<div class="row">
    <div class="col-md-12">
        <div class="card mt-4 mr-auto">
            <div class="card-body">
                <h5 class="card-title">ANA Login</h5>
                <p class="card-text">Please Fill requires Fields to Login</p>
                <form method="post" action="/login">
                    <div class="form-group">
                        <label for="username">Email/Username</label>
                        <input type="text" class="form-control" id="username" name="username" aria-describedby="emailHelp" placeholder="Enter email or Your username">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                        <label for="pass">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                    </div>
                    <!-- <div class="form-check">
                      <input type="checkbox" class="form-check-input" id="remember" name="remember">
                      <label class="form-check-label" for="remember">Check me out</label>
                    </div> -->
                    <button type="submit" name="login" class="btn btn-primary">Login</button>

                    <hr>
                    <p class="small text-muted">Forgot Your Password <a class = "link" href="#">Here</a>.</p>
                    <p class="small text-muted">You don't have an account, <a class = "link" href="/register">Sign up</a></p>
                </form>

            </div>
        </div>

    </div>
</div>


<%- include ./partials/foot %>